bin/
src-gen/
test-bin/
/.metadata/



sdu.mdsd.iot.ui/xtend-gen/

sdu.mdsd.iot.tests/xtend-gen/

sdu.mdsd.iot.ide/xtend-gen/

sdu.mdsd.iot/xtend-gen/

CsharpController/CsharpController/CsharpController/obj/

CsharpController/CsharpController/.vs/
